# apple things
.DS_Store

# python
__pycache__

# pytest
.pytest_cache/

# sample videos for testing
vid*s
*.mp4

# mve directory structure
*/outputs
*/history
*/queue
*/errors
*/mve
*/configs

# commands
*/cmds

# testing venv
.venv
