# apple things
__pycache__
.DS_Store

# sample videos for testing
vid*s
*.mp4

# mve directory structure
*/outputs
*/history
*/queue
*/errors
*/src
*/configs

# commands
*/cmds

# swapper configs
swapper*/*/config.py
